########################################################################################################################
### External Library Support
########################################################################################################################
--enable-appkit
--enable-audiotoolbox
--enable-avfoundation
--enable-coreimage
--enable-videotoolbox

########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=arm64
--target-os=darwin

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-asm
--disable-x86asm
