########################################################################################################################
### Configuration Options
########################################################################################################################
--enable-static
--enable-small
--enable-runtime-cpudetect
--disable-autodetect

########################################################################################################################
### Program Options
########################################################################################################################
--disable-ffmpeg
--enable-ffprobe
--disable-ffplay

########################################################################################################################
### Documentation Options
########################################################################################################################
--disable-doc

########################################################################################################################
### Component Options
########################################################################################################################
--disable-network

########################################################################################################################
### Encoders
########################################################################################################################
--disable-encoders
--enable-encoder=aac
--enable-encoder=adpcm_ima_wav
--enable-encoder=adpcm_ms
--enable-encoder=pcm_f32le
--enable-encoder=pcm_s16le
--enable-encoder=pcm_u8
--enable-encoder=wmav2

########################################################################################################################
### Decoders
########################################################################################################################
--enable-decoders

########################################################################################################################
### Muxers
########################################################################################################################
--disable-muxers
--enable-muxer=asf
--enable-muxer=ipod
--enable-libvorbis
--enable-muxer=mp3
--enable-muxer=mp4
--enable-muxer=ogg
--enable-muxer=wav

########################################################################################################################
### External Library Support
########################################################################################################################
--enable-libmp3lame
--enable-libvorbis

########################################################################################################################
### Toolchain Options
########################################################################################################################
--enable-cross-compile
--enable-pic
--pkg-config-flags=--static

########################################################################################################################
### Optimization Options
########################################################################################################################
--disable-inline-asm
--enable-optimizations
