########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=x86_64
--extra-cflags="-DHAVE_UNISTD_H=0"
--target-os=mingw32

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-x86asm
