########################################################################################################################
### External Library Support
########################################################################################################################
--enable-appkit
--enable-audiotoolbox
--enable-avfoundation
--enable-coreimage
--enable-videotoolbox

########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=x86_64
--target-os=darwin

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-x86asm
