########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=x86_64
--target-os=linux

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-x86asm
