########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=aarch64
--target-os=linux

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-neon
