########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=aarch64
--extra-cflags='-DHAVE_UNISTD_H=0'
--target-os=mingw32

########################################################################################################################
### Optimization Options
########################################################################################################################
--enable-asm
--disable-x86asm
--enable-neon
